In [2]:
#!pip install mysql-connector-python
#!pip install pandas

Collecting mysql-connector-python
  Using cached mysql_connector_python-8.0.32-cp311-cp311-win_amd64.whl (7.9 MB)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\sukhs\envmt\program\lib\site-packages (from mysql-connector-python) (3.20.3)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32

In [3]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

Connecting to MySQL Server

In [4]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [5]:
pw = "password"
connection = create_server_connection("localhost", "root", pw)

Error: '1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)'

Error: '2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)'

    Downloaded mysql-8.0.22-winx64.zip file
    Extracted the zip file
    Moved the extracted folder to C:/Program Files
    Opened cmd.exe as admin
    Navigated to the directory cd C:\Program Files\mysql-8.0.22\mysql-8.0.22-winx64\bin
    mysqld -install (Service successfully installed)
    mysqld --initialize (no prompt)
    Opened services.msc
    Found MySQL
    Right-click and start

In [41]:
pw = "password"
connection = create_server_connection("localhost", "root", pw)

Error: '1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)'

Error: '1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)'

In [31]:
connection.cursor()

OperationalError: MySQL Connection not available.

In [27]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [29]:
query = "CREATE DATABASE school"
create_database(connection, query)

OperationalError: MySQL Connection not available.

In [30]:
cursor = connection.cursor()

OperationalError: MySQL Connection not available.

In [ ]:
cursor = cnx.cursor()